<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rain dust blog">
    <title>Title of page</title>
    <link rel="stylesheet" href="../assets/css/style.css">  <!-- Link to your stylesheet if needed -->
</head>
<body>

<article>
    <header>
        <h1>Main Header</h1>
        <p><strong>By: </strong> J Stewart<strong><br>InsertDate</strong></p>
        <br>
        <a href="../index.html">Home Page</a>
    </header>
  
    <div>
        <img src="../assets/imgs/" alt="alt text">
    </div>
    
    <section>
        <h2>Scenario:</h2>
        <p>
            paragraph
        </p>

        <hr> <!-- Horizontal line for separation -->
      
        <h3>Heading 1</h3>
        
        <p>
            paragraph
        </p>

        <hr>

        <h3>Heading 2</h3>
        <p>
            paragraph
        </p>

        <hr>

        <h3>Heading</h3>
        <p>
        paragraph
        </p>

        <hr>

        <h3>Final Thoughts</h3>
        <p>
            
        </p>
    </section>
</article>

<footer>
    <u class="post-links"><a href="../index.html">Home Page</a></ul>
</footer>

</body>
</html>